* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;


  }

  :root {
    font-size: 62.5%;
  }

  body {
    background-color: #ffffff;
    color: #202024;
  }

  body,
  input,
  textarea,
  button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
  }

  #navbar {
    background-color: #59843a;
  }

  /* Header */

  header {
    padding-inline: 1.6rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 3.2rem;

    max-width: 1300px;
    margin: 0 auto;

    & img {
      width: 100%;
      height: 100%;
    }
  }

  /*Barra de pesquisa*/

  .wrapper-search {
    overflow-y: hidden;
    display: flex;
    align-items: center;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    flex: 1;
    grid-area: search;

    border-radius: 20px;
    padding: 0.5rem 1rem; /* Altura da barra */
    color: #4b4b4b;

    & label {
      height: 20px;
    }

    & input {
      padding: 8px;
      border: none;
      background-color: transparent;
      width: 100%;
      outline: none;
    }
  }

  /* Navegação */

  nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 2.4rem;

    & li {
      color: #ffffff;
      cursor: pointer;
      font-size: clamp(
        1.4rem,
        1.5vw,
        1.6rem
      ); /* Varia de 14px para 16px em telas menores*/

      transition: color 0.2s ease-in-out;
    }

    & li:hover {
      color: #c0c9ae;
    }
  }

  /* Actions */
  .actions {
    display: flex;
    gap: 1.6rem;
    grid-area: actions;
  }

  .actions button {
    color: #ffffff;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 0.4rem;
    border-radius: 4px;
    line-height: 0;

    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: #4d6d36;
    }

    & i {
      font-size: 2.4rem;
    }
  }

  .actions #list {
    display: none;
  }

  /* Links */
  .menu {
    background-color: #4f683c;
    padding-block: 0.8rem;
  }

  .links {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1.6rem;

    & a {
      color: #ffffff;
      text-decoration: none;
      font-weight: 500;

      transition: color 0.2s ease-in-out;
    }

    & a:hover {
      color: #c0c9ae;
    }
  }

  /* Modal */

  #modal {
    background-color: #fafafa;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 400px;
    box-shadow: -2px -2px 10px 1px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
  }

  .options {
    display: flex;
    flex-direction: column;
    padding: 1.6rem;

    & a {
      text-decoration: none;
      color: #202024;
      font-weight: 500;
      padding: 0.8rem;

      transition: background-color 0.2s ease-in-out;
    }

    & a:hover {
      background-color: #a7a7a7;
    }

    & button {
      display: flex;
      align-self: flex-end;
      font-size: 2rem;

      background-color: transparent;
      border: 0;
      cursor: pointer;
      margin-bottom: 1.6rem;
    }
  }

  .open {
    transform: translateX(0);
  }

  .close {
    transform: translateX(100%);
  }

  /* Responsive points */

  @media (max-width: 968px) {
    header {
      gap: 1rem;
    }

    nav ul {
      display: none;
    }

    .actions #list {
      display: block;
    }

    .menu {
      display: none;
    }
  }

  @media (max-width: 555px) {
    header {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* 1fr 1fr */
      grid-template-rows: repeat(2, max-content);
      grid-template-areas:
        "logo actions"
        "search search";
      gap: 0;
    }

    .actions {
      justify-self: end;
    }

    .wrapper-search {
      align-self: flex-start;
      margin-block: 1.6rem;
    }

    #modal {
      width: 100%;
    }
  }

  




