* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;


  }

  :root {
    font-size: 62.5%;
  }

  body {
    background-color: #ffffff;
    color: #202024;
  }

  body,
  input,
  textarea,
  button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
  }

  #navbar {
    background-color: #59843a;
  }

  /* Header */

  header {
    padding-inline: 1.6rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 3.2rem;

    max-width: 1300px;
    margin: 0 auto;

    & img {
      width: 100%;
      height: 100%;
    }
  }

  /*Barra de pesquisa*/

  .wrapper-search {
    overflow-y: hidden;
    display: flex;
    align-items: center;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    flex: 1;
    grid-area: search;

    border-radius: 20px;
    padding: 0.5rem 1rem; /* Altura da barra */
    color: #4b4b4b;

    & label {
      height: 20px;
    }

    & input {
      padding: 8px;
      border: none;
      background-color: transparent;
      width: 100%;
      outline: none;
    }
  }

  /* Navegação */

  nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 2.4rem;

    & li {
      color: #ffffff;
      cursor: pointer;
      font-size: clamp(
        1.4rem,
        1.5vw,
        1.6rem
      ); /* Varia de 14px para 16px em telas menores*/

      transition: color 0.2s ease-in-out;
    }

    & li:hover {
      color: #c0c9ae;
    }
  }

  /* Actions */
  .actions {
    display: flex;
    gap: 1.6rem;
    grid-area: actions;
  }

  .actions button {
    color: #ffffff;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 0.4rem;
    border-radius: 4px;
    line-height: 0;

    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: #4d6d36;
    }

    & i {
      font-size: 2.4rem;
    }
  }

  .actions #list {
    display: none;
  }

  /* Links */
  .menu {
    background-color: #4f683c;
    padding-block: 0.8rem;
  }

  .links {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1.6rem;

    & a {
      color: #ffffff;
      text-decoration: none;
      font-weight: 500;

      transition: color 0.2s ease-in-out;
    }

    & a:hover {
      color: #c0c9ae;
    }
  }

  /* Modal */

  #modal {
    background-color: #fafafa;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 400px;
    box-shadow: -2px -2px 10px 1px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
  }

  .options {
    display: flex;
    flex-direction: column;
    padding: 1.6rem;

    & a {
      text-decoration: none;
      color: #202024;
      font-weight: 500;
      padding: 0.8rem;

      transition: background-color 0.2s ease-in-out;
    }

    & a:hover {
      background-color: #a7a7a7;
    }

    & button {
      display: flex;
      align-self: flex-end;
      font-size: 2rem;

      background-color: transparent;
      border: 0;
      cursor: pointer;
      margin-bottom: 1.6rem;
    }
  }

  .open {
    transform: translateX(0);
  }

  .close {
    transform: translateX(100%);
  }

  /* Responsive points */

  @media (max-width: 968px) {
    header {
      gap: 1rem;
    }

    nav ul {
      display: none;
    }

    .actions #list {
      display: block;
    }

    .menu {
      display: none;
    }
  }

  @media (max-width: 555px) {
    header {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* 1fr 1fr */
      grid-template-rows: repeat(2, max-content);
      grid-template-areas:
        "logo actions"
        "search search";
      gap: 0;
    }

    .actions {
      justify-self: end;
    }

    .wrapper-search {
      align-self: flex-start;
      margin-block: 1.6rem;
    }

    #modal {
      width: 100%;
    }
  }

  /* Home Banner */

  .containner{
    height: 420px;
    width: 100%;
    display: flex;
    justify-content: space-between;

  }

  .h3-banner{

    overflow-y: hidden;
    font-size: 2.7em;
    font-weight: bold;
    margin-top: 2em;
    margin-left: 6em;
    word-wrap: break-word;
  }
  .texto-gradiente {
    overflow: hidden;
    margin-left: 2em;
    font-size: 5.5em;
    font-weight: bold;

    text-transform: uppercase;
    background-image: linear-gradient(#214E0E,#3A7D1A,#56B92D);
    background-clip: text;
    -webkit-background-clip:text ;
    color: transparent;

  }

  .paragrafo-gradiente{
    margin-top: 1em;
    font-size: 1.8em;
    margin-left: 6em;
    background-image: linear-gradient(#214E0E,#3A7D1A,#56B92D);
    background-clip: text;
    -webkit-background-clip:text ;
    color: transparent;

  }

  .capsula{
    overflow: hidden;
    width: 550px;
    height: 400px;
    background: linear-gradient(#214E0E,#3A7D1A,#56B92D);
    border-radius: 160px 0px 0px 160px;
    margin-top: 1em;
    margin-right: -10px;
  }


  .img-dog{
    height: 400px;
    width: 500px;

  }

  .botao-medicamentos {
    background-color: #2DA475;
    color: white;
    border: none;
    padding: 0.9rem 5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 4em;
    margin-left: 12em;
    font-size: 11px;
    cursor: pointer;
    border-radius:100px;
  }

  .botao-medicamentos:hover {
    background-color: #3e8e41;

  }

  .botao-acessorios{
    position: absolute;
    background-color: #2DA475;
    color: white;
    border: none;
    padding: 0.8rem 6rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 2em;
    margin-left: 5em;
    font-size: 14px;
    cursor: pointer;
    border-radius:100px;
  }

  .botao-acessorios:hover {
    background-color: #3e8e41;

  }

  .navbar, .botao-medicamentos, .botao-acessorios {
    position: relative;

    z-index: 1;
  }
/* Fim banner home */


/* Home Carroucel */
.carrocel{
    margin-top: 2em;
}
.icone{
    height: 300px;
}

.seta-direita{
    position: sticky;
    margin-top:2em;
    margin-left: 6em;
}

.seta-esquerda{
    position: sticky;
    margin-top: 2.4em;
    margin-right: 4.7em;
}
.div-arredondada {
    background: linear-gradient(#214E0E,#3A7D1A,#56B92D);
    border-radius: 40px;
    margin-left: 0.4em;
    padding: 30px;
    text-align: center;
    width: 99%;
    height: 220px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    color: white;
    font-size: 24px;
  }

/* Fim home Carroucel */

/* Storys home */

.container{
    background-color: blue;
    margin-top: 2em;

}

.story{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid green;
    padding: 2px;
}

.storys-texto{
    font-size: 10pxp;
}

/*  Fim Storys home */

/* media-home */



/* end-media-home */





